body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    width: 500px;
}
.form-div {
    display: flex;
    margin: 10px 0 10px 120px;
    align-items: center;
    max-width: fit-content;
    flex-direction: column;
}
button {
    align-self: center;
}
.error-field {
    font-size: 15px;
    height: 17px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.error-field p {
    margin-top: 10px
}
.invalid {
    border: 2px solid red;
}
.valid {
    border: 2px solid green;
}
.validCheck {
    display: none;
}
.show {
    display: block;
}
.input-with-check {
    display: flex;
    flex-direction: row;
}